@model IEnumerable<MicroCreditosLolaApi.Models.Historial>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Periodopago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fechadepago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdclienteNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Periodopago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fechadepago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdclienteNavigation.Idcliente)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idmonto">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idmonto">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idmonto">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
